/target/
/node_modules/
**/node_modules/
*.msi
*.exe
*.pdb
*.wixobj
*.wixpdb
*.mp3
*.zip
*.tar.gz
*.deb
*.rpm
kura.env
packaging/windows/dist/
packaging/deb_pkg/
packaging/rpm/dist/
kura-voice-bin-latest/
